body{
	margin: 0;
	background: #FFFFFF;
	font-family: 'Abel', sans-serif;
}
body.noscroll{
	overflow: hidden;
}
.header{
	background: #FFFFFF;
	position: fixed;
	padding: 0 40px;
	height: 80px;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 998;
	border-bottom: 2px #FAFAFA solid; 
}
	.header-content{
		margin-top: 14px;
	}
	.header ul.nav{
		margin-top: 15px;
		display: inline-block;
		float: right;
	}
	.header ul.nav li{
		display: inline-block;
	}
		.header ul.nav li a{
			text-transform: uppercase;
			font-size: 13px;
			color:#A8A8A8;
			padding: 6px 20px;
			text-decoration: none;	
			-webkit-transition:all 0.3s ease;
			-moz-transition:all 0.3s ease;
			-ms-transition:all 0.3s ease;
			-transition:all 0.3s ease;
			border: 1px solid transparent;
			margin-bottom:10px;
			display: inline-block;
			margin: 0 1px;
		}
		.header ul.nav li a:hover{
			border-color: #904aa3;
		}
		.header ul.nav li.selected a{
			color: #904aa3;
			font-weight: bold;
			border-color: #904aa3;
		}
	.header ul.sub-nav{
		position: absolute;
		visibility: hidden;
		opacity: 0;
		display: none;
		margin: 0;
		z-index: 999;;
		padding: 10px 0;
		background: #FFFFFF;
		border-radius: 3px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	}
		.header ul.sub-nav li{
			display: block;
		}
		.header ul.sub-nav li a{
			border-width:0;
			padding: 6px 40px 6px 20px;
			margin-bottom:0;
			display: block;
			font-size: 15px;
			color:#333333!important;
			font-weight: normal!important;	
			-webkit-transition:all 0.3s ease;
			-moz-transition:all 0.3s ease;
			-ms-transition:all 0.3s ease;
			-transition:all 0.3s ease;
		}
		.header ul.sub-nav li a:hover{
			color: #8a10ab;
			background: #F5F5F5;
		}
	.header ul.nav li.sub:hover  ul.sub-nav, ul.sub-nav:hover {
		  visibility: visible;
		  opacity: 1;
		  display: block;
	}

.tt1{
	color: #777777;
	font-weight: bold;
}
.butn{
	border: 2px solid #d4d4d4;
	padding: 10px 26px;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-transition:all 0.3s ease;
	background: transparent;
	color:#d4d4d4;
}
.butn.butn-img{
	border-color: #FFFFFF;
	background: transparent;
	color:#FFFFFF;
}
.butn.butn-img:hover{
	background: #FFFFFF;
	color:#111111;
}
.butn.butn-block{
	background: #424242;
	color: #FFFFFF;
	border-color: #424242;
}
.text-center{ text-align: center; }
.text-white{ color: #FFFFFF; }
.text-dark{color: #111111;}
a.butn{
	text-decoration: none;
}
h2.bigger{
	font-size: 60px;
}
.play-button-large{
    display: inline-block;
	height: 120px;
    width: 120px;
	border: 3px solid #fff;
    text-align: center;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease;
    cursor: pointer;
}
.play-button-large::before{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 31.0px;
    border-color: transparent transparent transparent #fff;
    display: inline-block;
    transform: translate(5px,35px);
}


footer{
	padding: 60px 0;
	background: #292929;
	color: white;
}
	footer .footer-head{
		letter-spacing: 2px;
		margin-bottom: 15px;
		color: #FFFFFF;
		font-size: 17px;
	}
	footer p{
		font-size: 13px;
		line-height: 1.5;
		color: #EEEEEE;
	}
	footer p .fas{
		font-size: 12px;
		margin-right: 5px;
	}
	footer .social a{
		color: #FFFFFF;
		font-size: 13px;
		margin: 5px;
	}
.loader-c{
	width: 100%;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loader-c .loader{
	font-size: 50px;
	color: #CCCCCC;
}
.textbox{
	background: #EAEAEA;
	display: block;
	width: 100%;
	margin: 15px 0;
	padding: 12px 15px;
	border: none;
}
textarea.textbox{
	height: 160px;
}

.humburger{
	display: none;
}
	.humburger .fa-bars{
		display: none;
	}
	.humburger .fa-times{
		display: block;
	}

	.humburger.inactive .fa-bars{
		display: block;
	}
	.humburger.inactive .fa-times{
		display: none;
	}


@media only screen and (max-width: 600px) {
	.header{
		height: 60px;
	}
	.header .header-content{
		margin-top: 8px;
	}
	.header img{
		height: 40px;
	}

    .header ul.nav{
    	display: none;
    	position: absolute;
    	z-index: 999;
    	width: 85%;
    	top: 60px;
    	left: 50%;
    	transform: translateX(-50%);
    	background: #FFFFFF;
    	padding: 8px;
    	border-radius: 5px;
    	box-shadow: 0 1px 15px rgba(0,0,0,0.4);
    }
	    .header ul.nav li{
	    	display: block;
	    	margin: 25px 0;
	    	width: 100%;
	    }
	    .header ul.nav li a{
	    	border: none!important;
	    	display: block;
	    	padding: 5px 30px;
	    	font-weight: bold;
	    	font-size: 14px;
	    }

    .humburger{
    	display: inline-block;
    	float: right;
    	color: #904aa3;
    	font-size: 22px;
    	margin-top: 10px;
    }

	.footer-box{
		margin-bottom: 30px;
	}
	.mobile-only-block{
		display: block;
	}

	.contact h5{
		margin-top: 50px;
	}
	.header ul.sub-nav{
		display: none!important;
	}
}